<!DOCTYPE html>
<html>
  <head>
    <title>Pinboard</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="image" property="og:image" content="https://live.staticflickr.com/65535/51863072924_2a0ec0c386.jpg">


    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= favicon_link_tag asset_path('pinterest_logo.png') %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap" rel="stylesheet">
    <script
      src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
      data-auto-a11y="true"
    ></script>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
